// Theme Colors
$main-text-color: #212121;

// No Side
$no-logo: "";
$no-color: #00c853;
$no-saber: #43a047;

// Rebel Side
$rebel-logo: "\f1d0";
$rebel-color: #2962ff;
$rebel-saber: #2962FF;

// Empire Side
$empire-logo: "\f1d1";
$empire-color: #212121;
$empire-saber: #D50000;

// Theme Fonts
$main-font: "Roboto", "Open Sans", Sans-Serif;